doctype
html(lang="zh-TW")
    head
        meta(charset="utf-8")
        title Compile Jade templates with gulp
    body
        h1 Compile Jade templates with gulp
        section
            p Use 
                a(href='https://www.npmjs.com/package/gulp-jade', target='_blank') gulp-jade
            ol
                li npm init
                li npm install --save-dev gulp gulp-jade
                li setting gulp task in gulpfile.js
                li run "gulp watch" on terminal